
body {
    --color1: hsla(34, 9%, 95%, 1);
    --color2: hsla(28, 57%, 75%, 1);
    --color3: hsla(13, 63%, 37%, 1);
    --color4: hsla(23, 60%, 54%, 1);
    --color5: hsla(23, 28%, 85%, 1);
    
    --header-height: 100px;
    --footer-height: 30px;
    background-color: var(--color2);
    
    font-family: 'Arimo', sans-serif;
}

header {
    
}